  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
     
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['']"[routerLinkActive]="['active']"class="nav-link active">inicio
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/Registrarse']"[routerLinkActive]="['active']"class="nav-link active">registro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  [routerLink]="['/ganadores']"[routerLinkActive]="['active']"class="nav-link active">Ganadores</a>  
          </li>
          <li class="nav-item" *ngIf="this.ConsultaService.sessionStatus!='1'">
            <a class="nav-link"  [routerLink]="['/administrador']"[routerLinkActive]="['active']"class="nav-link active">Administradores</a>  
          </li>

            <li class="nav-item"*ngIf="this.ConsultaService.sessionStatus=='1'">
            <a class="nav-link"  [routerLink]="['/dashboard']"[routerLinkActive]="['active']"class="nav-link active">dashboard</a>  
          </li>
        </ul>
      </div>
    </div>
  </nav>


<router-outlet></router-outlet>
